In [14]:
import pandas as pd

data1 = pd.read_csv('C:/Users/ASUS/Downloads/rescue_station_project/scripts/test_demo/csv/network_distance.csv')
data1

     StartPoint  EndPoint  Distance
0             4         4         0
1             4         6         7
2             4         8        13
3             4        19        13
4             4        11        15
..          ...       ...       ...
272          12        13         6
273          12        16        10
274          12        17         6
275          15        18        25
276          15        19         8

[277 rows x 3 columns]

In [15]:
# Lấy các giá trị duy nhất từ cột 'StartPoint'
unique_destinations = set(data1['StartPoint'])

# In ra các giá trị duy nhất dưới dạng DataFrame
unique_destinations_df = pd.DataFrame({'StartPoint': list(unique_destinations)})
print(unique_destinations_df)

    StartPoint
0            1
1            4
2            6
3            7
4            8
5            9
6           10
7           11
8           12
9           13
10          14
11          15
12          16
13          17
14          18
15          19

In [16]:
data2 = pd.read_csv('C:/Users/ASUS/Downloads/rescue_station_project/scripts/test_demo/csv/Thuyhe_Diemven2.csv')
# data2.head(6)
data2

    Id      XX       YY
0    1  617714  1197576
1    2  617714  1196576
2    3  618714  1197076
3    4  619714  1197576
4    5  619714  1196576
5    6  620714  1197076
6    7  618714  1198076
7    8  619714  1198076
8    9  620714  1198076
9   10  619714  1198576
10  11  621714  1197576
11  12  621714  1198076
12  13  621714  1198576
13  14  617714  1198576
14  15  622714  1197076
15  16  622714  1198576
16  17  622714  1198076
17  18  623714  1198076
18  19  621714  1196576
19  20  623714  1196576

In [17]:
# Gộp hai DataFrame dựa trên cột 'Id' và chỉ lấy cột 'name' từ unique_destinations_df
merged_df = pd.merge(unique_destinations_df, data2[['Id', 'XX', 'YY']], left_on='StartPoint', right_on='Id')

# In ra kết quả
print(merged_df)

    StartPoint  Id      XX       YY
0            1   1  617714  1197576
1            4   4  619714  1197576
2            6   6  620714  1197076
3            7   7  618714  1198076
4            8   8  619714  1198076
5            9   9  620714  1198076
6           10  10  619714  1198576
7           11  11  621714  1197576
8           12  12  621714  1198076
9           13  13  621714  1198576
10          14  14  617714  1198576
11          15  15  622714  1197076
12          16  16  622714  1198576
13          17  17  622714  1198076
14          18  18  623714  1198076
15          19  19  621714  1196576

In [18]:
# Sắp xếp lại các cột theo thứ tự chieudai, frompoint, topoint
df_sorted = merged_df[['Id', 'StartPoint', 'XX', 'YY']]

print(df_sorted)

    Id  StartPoint      XX       YY
0    1           1  617714  1197576
1    4           4  619714  1197576
2    6           6  620714  1197076
3    7           7  618714  1198076
4    8           8  619714  1198076
5    9           9  620714  1198076
6   10          10  619714  1198576
7   11          11  621714  1197576
8   12          12  621714  1198076
9   13          13  621714  1198576
10  14          14  617714  1198576
11  15          15  622714  1197076
12  16          16  622714  1198576
13  17          17  622714  1198076
14  18          18  623714  1198076
15  19          19  621714  1196576

In [19]:
# # Đổi tên các cột
df = df_sorted.rename(columns={"StartPoint": "FacilityPoints"})
print(df)

    Id  FacilityPoints      XX       YY
0    1               1  617714  1197576
1    4               4  619714  1197576
2    6               6  620714  1197076
3    7               7  618714  1198076
4    8               8  619714  1198076
5    9               9  620714  1198076
6   10              10  619714  1198576
7   11              11  621714  1197576
8   12              12  621714  1198076
9   13              13  621714  1198576
10  14              14  617714  1198576
11  15              15  622714  1197076
12  16              16  622714  1198576
13  17              17  622714  1198076
14  18              18  623714  1198076
15  19              19  621714  1196576

In [20]:
import os

# Đường dẫn đến thư mục
folder_path = r'C:/Users/ASUS/Downloads/rescue_station_project/scripts/test_demo/csv'

# Kiểm tra nếu thư mục không tồn tại, tạo mới
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Tạo đường dẫn đến file CSV trong thư mục
file_path = os.path.join(folder_path, 'facility_points.csv')

# Lưu dataframe thành file CSV
df.to_csv(file_path, index=False)

# Hiển thị kết quả
print("File CSV đã được lưu thành công vào thư mục:", folder_path)

File CSV đã được lưu thành công vào thư mục: C:/Users/ASUS/Downloads/rescue_station_project/scripts/test_demo/csv